body {
	overflow-y: scroll;
}

/* css-fr fix */
.uk-container:not(.uk-container-expand) {
	max-width: 1600px;
}
.uk-heading-primary {
	line-height: unset;
}

/* icons position fix */
span[uk-icon*="icon"] {
	position: relative;
	top: -2px;
}
	.uk-breadcrumb span[uk-icon*="icon"] {
		top: -1px;
	}

/* header */
.cc_main_menu_show_all {
	margin-bottom: 10px;
}
	.uk-nav li.cc_main_menu_show_all > a {
		display: inline;
		border-bottom: 1px solid gray;
	}

/* top nav */


/* right side */
.uk-navbar-nav > li.cc_header_account > a {
	padding: 0px;
}
	.cc_header_account a span:first-child {
		padding: 10px;
	}

/* sec nav */
/* main menu */
.cc_main_menu button {
	padding: 0 10px;
	width: 100%;
}

/* search */
#search input {
	width: calc(100% - 42px);
}
#search button {
	padding: 0px 10px;
}

/* header cart */
#cc_header_cart {
	padding: 0 10px;
	width: 100%;
}

/* modal cart */
.cc_cart_info_image img {
	min-width: 50px;
}
.cc_cart_total tbody tr:last-child .cc_cart_total_price {
	font-weight: 700;
	font-size: 16px;
}

@media (max-width: 460px) {
	
	#cc_header_modal_cart table.uk-table-middle tr {
		border: 1px solid rgb(234, 234, 234);
	}
		.cc_cart_info_image,
		.cc_cart_info_name ,
		.cc_cart_info_price,
		.cc_cart_info_act {
			display: block;
			width: auto;
			text-align: center;
		}

}

/* card */
.uk-card.uk-box-shadow-hover-large {
	transition: 150ms transform;
}
	.uk-card.uk-box-shadow-hover-large:hover {
		/* box-shadow: 0 0 36px rgba(0,0,0,0.1); */
		transform: translateY(-5px);
	}

/* to top */
.cc_to_top a {
	display: block;
	padding: 20px 0;
}
	.cc_to_top a:hover {
		background: rgb(228, 228, 228);
		transition: .15s;
	}

/* card labeles (stickers & special label) */
.cc_labels_wrap {
	position: absolute;
	max-width: calc(100% - 30px);
	left: 0px;
	padding: 0 15px;
}
	.uk-card .uk-card-badge {
		position: relative;
		top: unset;
		right: unset;
		float: left;
		margin-right: 5px;
		margin-bottom: 5px;
	}
	.cc_sticker {
		height: 21px;
	}
		.cc_sticker img {
			max-height: 21px;
		}

.cc_product_benefits_open {
	bottom: 15px;
	left: 15px;
}

/* benefits */
.cc_benefits_info_image {
	min-width: 25px;
}